// .img-shoe{
//   max-height: 500px;
//   height:500px;
//   width:500px;
//   //
//   border-radius: 5px;
//     //box-shadow: 3px 2px 1px 1px #a6a0a0;
// }

// .col-6 .md.list-md.list-lines-none.list-md-lines-none.hydrated{
//   max-height: 500px;
//   height:500px;
//   width:100%;
// }

.customer-payment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  //
  font-size: 16px;
}

.input-info{
  border: 2px solid #000000;
  border-radius: 5px;
  font-weight:500;
  font-size:16px;
  padding-top:5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

input[type="radio"] {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5);

  //
  accent-color: black;

}

