<div style="margin-top:120px;width: 1530px;margin-bottom:200px;">
  <div style="margin: auto;
  width:80%;
  padding: 10px;">
    <div>
      <ion-text style="font-size: 32px" color="dark">
        <ion-icon name="bag-handle-outline" class=" mr-2"></ion-icon>
        <span>
          {{'Đơn hàng của bạn : ' + 'ÁKDAODASOKDAK | Đang vận chuyển'}}
        </span>
      </ion-text>
      <div class="info-prodcut">
        <div class="row text-center" style="border: 1px solid black;font-size:18px;color: black;">
          <div class="col-7">
            Sản phẩm
          </div>
          <div class="col-2">
            Giá
          </div>
          <div class="col-1">
            Số lượng
          </div>
          <div class="col-2">
            Thành tiền
          </div>
        </div>
        <div class="row text-center mt-3 pb-2" style="font-size:18px;color: black;border-bottom: 0.5px solid gray;" *ngFor="let product of products">
          <div class="col-7 text-left d-flex row ">
            <div class="ml-5 mr-5 ">
              <img  [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image" alt="shoes" class="img-shoe" width="100px" height="100px">
            </div>
            <div class="col-8" style=" font-weight: bold;position: relative;">
              <div style="margin: 0;
                          position: absolute;
                          top: 50%;
                          -ms-transform: translateY(-50%);
                          transform: translateY(-50%);">
                <p>{{product.name}}</p>
                <p>SIZE {{product.price}}</p>
              </div>
            </div>
          </div>
          <div class="col-2 text-right mr-2" style="margin:auto">
            {{product.price + ' VND'}}
          </div>
          <div class="col-1" style="margin:auto">
            <input disabled (keyup)="changeQuantity(product)" min="1" class="input-info text-center" style="width: 100%;" type="number" placeholder="SL" [(ngModel)]="product.quantity">
          </div>
          <div class="col-2 text-right" style="margin:auto">
            {{product.price + ' VND'}}
            <!-- <ion-icon name="trash-outline" class=" ml-1" style="font-size: 16px;"></ion-icon> -->
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="row">
        <div class="col-8">
          <div class="mr-4">
            <ion-text style="font-size: 32px" color="dark">
              <ion-icon name="alert-circle-outline" class=" mr-2"></ion-icon>
              <span>
                Thông tin nhận hàng
              </span>
            </ion-text>

            <div class="row mb-3">
              <div class="col-12 d-flex justify-content-between mb-3">
                <input disabled class="input-info" style="width: 100%;" type="text" placeholder="Họ và tên">
              </div>
              <div class="col-12 d-flex justify-content-between mb-3">
                <input disabled class="input-info" style="width: 48%;margin-right:10px" type="text" placeholder="Email">
                <input disabled class="input-info" style="width: 48%;" type="text" placeholder="Số điện thoại">
              </div>
              <div class="col-12 d-flex d-flex justify-content-between mb-3">
                <input disabled style="width:30%" type="text" placeholder="Tỉnh/Thành phố" class=" input-info">
                <input disabled style="width:30%" type="text" placeholder="Quận/Huyện" class=" input-info">
                <input disabled style="width:30%" type="text" placeholder="Phường/Xã" class=" input-info">
              </div>
              <div class="col-12 mb-3">
                <input disabled class=" input-info" style="width: 100%;" type="text" placeholder="Địa chỉ">
              </div>

            </div>
            <div class="payment-method">
              <ion-text style="font-size: 32px" color="dark">
                <ion-icon name="cash-outline" class=" mr-2"></ion-icon>
                <span>
                  Phương thức thanh toán
                </span>
              </ion-text>
              <br>

              <div class="form-check ml-2">
                <input disabled [(ngModel)]="deliveryTime" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="in">
                <label class="form-check-label" for="exampleRadios1" style="font-size:16px;margin-bottom: 2px;margin-left: 5px;color: black;">
                  Giao trong giờ hành chính
                </label>
              </div>
              <div class="form-check mt-2 ml-2">
                <input disabled [(ngModel)]="deliveryTime" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="out">
                <label class="form-check-label" for="exampleRadios2" style="font-size:16px;margin-bottom: 2px;margin-left: 5px;color: black;">
                  Giao ngoài giờ hành chính
                </label>
              </div>

            </div>
          </div>
          <div class="payment-method">
            <ion-text style="font-size: 32px" color="dark">
              <ion-icon name="cash-outline" class=" mr-2"></ion-icon>
              <span>
                Hình Thức Giao Hàng
              </span>
            </ion-text>
            <br>
            <br>
            <div class="form-check mt-2 ml-2">
              <input disabled class="form-check-input" type="radio" name="method" id="method"  value="method" checked>
              <label class="form-check-label" for="method" style="font-size:16px;margin-bottom: 2px;margin-left: 5px; position: absolute;top:-2px;color: black;">
                <span class="delivery-title"><b>Giao hàng tiêu chuẩn</b></span>
                  <div class="delivery-desc">Miễn phí vận chuyển đối với đơn hàng từ 500.000<sup>đ</sup> giao tại nội
                    thành <b>Hà Nội, TP Hồ Chí Minh</b>.</div>
                  <div class="delivery-desc">Các địa chỉ khác: <b>30.000</b><sup>đ</sup></div>
              </label>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="payment-method">
            <ion-text style="font-size: 32px" color="dark">
              <ion-icon name="cash-outline" class=" mr-2"></ion-icon>
              <span>
                Phương thức thanh toán
              </span>
            </ion-text>
            <br>
            <div class="form-check ml-2">
              <input disabled [(ngModel)]="paymentMethods" class="form-check-input" type="radio" name="cod" id="cod" value="cod" >
              <label class="form-check-label" for="cod" style="font-size:16px;margin-bottom: 2px;margin-left: 5px;color: black;">
                Thanh toán khi nhận hàng
              </label>
            </div>
            <div class="form-check mt-2 ml-2">
              <input disabled [(ngModel)]="paymentMethods" class="form-check-input" type="radio" name="bank" id="bank" value="bank">
              <label class="form-check-label" for="bank" style="font-size:16px;margin-bottom: 2px;margin-left: 5px;color: black;">
                Thanh toán bằng chuyển khoản
              </label>
            </div>
          </div>

          <div class="v-infomation-content">
            <div class="customer-payment">
              <div> Tạm tính: </div>
              <div> 10.600.000 <sup>đ</sup></div>
            </div>
            <div class="customer-payment">
              <div> Chiết khấu: </div>
              <div> 0 <sup>đ</sup></div>
            </div>
            <div class="customer-payment">
              <div> Vận chuyển: </div>
              <div><span class="price">30.000 <sup>đ</sup></span></div>
            </div>
            <div class="customer-payment">
              <div> Điểm tích lũy: </div>
              <div> 106.300 </div>
            </div>
            <div class="customer-payment v-total-payment">
              <div> Tiền phải trả: </div>
              <div> 10.630.000 <sup>đ</sup></div>
            </div>
          </div>


          <div style="display: flex;margin-left:15px">
            <!-- <ion-button color="dark"><ion-icon name="funnel-outline"></ion-icon>Khôi phục</ion-button> -->
            <ion-button style="width:100%" fill="outline" color="dark" style="margin-right:5px;" (click)="shopping()">Tiếp tục mua
              sắm</ion-button>
            <!-- <ion-button style="width:50%" color="dark">Đặt hàng</ion-button> -->
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

