<div style="margin-top:200px;width: 1530px;margin-bottom:200px;margin-right: auto;margin-left: auto">
  <div style="margin: auto;
  width:40%;
  padding: 10px;">
        <ion-text style="font-size: 32px" color="dark">
          <ion-icon name="alert-circle-outline" class=" mr-2"></ion-icon>
          <span>
            Thông tin
          </span>
        </ion-text>
        <div class="row mb-3">
          <div class="col-12 d-flex justify-content-between mb-3">
            <input class="input-info" style="width: 100%;" type="text" placeholder="Họ và tên" name="CusName" [(ngModel)]="resgisterCus.CusName">
          </div>
          <div class="col-12 d-flex justify-content-between mb-3">
            <input class="input-info" style="width: 100%;" type="text" placeholder="Số điện thoại" name="CusTel" [(ngModel)]="resgisterCus.CusTel">
          </div>
          <div class="col-12 d-flex justify-content-between mb-3">
            <input class="input-info" style="width: 100%;" type="text" placeholder="Mật khẩu" name="Password" [(ngModel)]="resgisterCus.PassWord">
          </div>
          <div class="col-12 d-flex justify-content-between mb-3">
            <input class="input-info" style="width: 100%;" type="text" placeholder="Email" name="CusEmail" [(ngModel)]="resgisterCus.CusEmail">
          </div>
          <!-- <div class="col-12 d-flex justify-content-between mb-3">
            <input class="input-info" style="width: 100%;" type="text" placeholder="Ngày sinh" [(ngModel)]="resgisterCus.CusName">
          </div> -->
          <div class="col-12 mb-3">
            <input class=" input-info" style="width: 100%;" type="text" placeholder="Địa chỉ" name="" [(ngModel)]="resgisterCus.CusAdd">
          </div>
          <div class="col-12 mb-3 text-right ">
            <button style="width:100%" type="button" class="btn btn-dark" (click)="update()">Cập nhật</button>
          </div>
        </div>



  </div>
</div>
