@import url("../user-main/user-main.component.scss");

.demo-paginator {
  width: 600px;
}


.mt-100{margin-top: 100px}body{background: #00B4DB;background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);background: linear-gradient(to right, #0083B0, #00B4DB);color: #514B64;min-height: 100vh}


.custom-select:focus {
  border-color: #000000;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(88, 103, 221, 0.25);
}
