<div style="margin-top:120px;width: 1530px;margin-bottom:200px;" *ngIf="products && products.length > 0">
  <div style="margin: auto;
  width:80%;
  padding: 10px;">
    <div>
      <ion-text style="font-size: 32px" color="dark">
        <ion-icon name="bag-handle-outline" class=" mr-2"></ion-icon>
        <span>
          Giỏ hàng của bạn
        </span>
      </ion-text>
      <div class="info-prodcut linear">
        <div class="row text-center" style="border: 1px solid black;font-size:18px;color: black;">
          <div class="col-7">
            Sản phẩm
          </div>
          <div class="col-2">
            Giá
          </div>
          <div class="col-1">
            Số lượng
          </div>
          <div class="col-2">
            Thành tiền
          </div>
        </div>
        <div class="content-product row text-center mt-3 pb-2"
            style="font-size:18px;color: black;border-bottom: 0.5px solid gray;"
            *ngFor="let product of products">
          <div class="col-7 text-left d-flex row ">
            <div class="ml-5 mr-5 ">
              <img  [src]="product.url" alt="shoes" class="img-shoe" width="100px" height="100px">
            </div>
            <div class="col-8" style=" font-weight: bold;position: relative;">
              <div style="margin: 0;
                          position: absolute;
                          top: 50%;
                          -ms-transform: translateY(-50%);
                          transform: translateY(-50%);">
                <p>{{product.ShoeName}}</p>
                <p>SIZE {{product.size}}</p>
              </div>
            </div>
          </div>
          <div class="col-2 text-right mr-2 text-center" style="margin:auto">
            {{product.SellPrice + ' ₫'}}
          </div>
          <div class="col-1" style="margin:auto">
            <input [disabled]="isConfirmCart" (ngModelChange)="onValueChange($event, product)" min="1" max="12" class="input-info text-center" style="width: 100%;" type="number" placeholder="SL" [(ngModel)]="product.QuantityOrder">
          </div>
          <div class="col-2 text-right mr-3 text-center" style="margin:auto">
            {{(product.SellPrice* product.QuantityOrder) + ' ₫'}}
            <a (click)="deleteCart(product)" style="cursor: pointer;" [ngClass]="isConfirmCart ? 'del-disabled' : '' " >
              <ion-icon name="trash-outline" class=" ml-1" style="font-size: 16px;"></ion-icon>
            </a>

            <!-- <button type="button" (click)="delete(product)"><i class="pi pi-trash" style="font-size: 1.2rem" ></i></button> -->
          </div>
        </div>
      </div>
      <!-- <div class="load-more text-center" style="font-size: 20px;color:black" *ngIf="products.length > 4">
        <a (click)="loadMore()">
          <ion-text color="dark" style="cursor: pointer;">
            {{'Xem thêm'}}
            <ion-icon name="arrow-down-outline" style="margin-left: 5px;"></ion-icon>
          </ion-text>
        </a>
      </div> -->
      <div style="margin-right:15px" class="text-right mt-2" *ngIf="!isConfirmCart">
        <ion-button  style="width:50%" fill="outline" color="dark" style="margin-right:5px;" (click)="confirmCart()">Xác nhận giỏ hàng</ion-button>
      </div>
    </div>
    <div *ngIf="isConfirmCart">
      <div class="row">
        <div class="col-8">
          <div class="mr-4">
            <ion-text style="font-size: 32px" color="dark">
              <ion-icon name="alert-circle-outline" class=" mr-2"></ion-icon>
              <span>
                Thông tin nhận hàng
              </span>
            </ion-text>

            <div class="row mb-3">
              <div class="col-12 d-flex justify-content-between mb-3">
                <input disabled class="input-info" style="width: 100%;" type="text" placeholder="Họ và tên" name="CusName" [(ngModel)]="customer.CusName">
              </div>
              <div class="col-12 d-flex justify-content-between mb-3">
                <input disabled class="input-info" style="width: 48%;margin-right:10px" type="text" placeholder="Email" name="CusEmail" [(ngModel)]="customer.CusEmail">
                <input disabled class="input-info" style="width: 48%;" type="text" placeholder="Số điện thoại" name="CusEmail" [(ngModel)]="customer.CusEmail">
              </div>
              <div class="col-12 d-flex d-flex justify-content-between mb-3">
                <input style="width:30%" type="text" placeholder="Tỉnh/Thành phố" class=" input-info">
                <input style="width:30%" type="text" placeholder="Quận/Huyện" class=" input-info">
                <input style="width:30%" type="text" placeholder="Phường/Xã" class=" input-info">
              </div>
              <div class="col-12 mb-3">
                <input disabled class=" input-info" style="width: 100%;" type="text" placeholder="Địa chỉ" name="CusAdd" [(ngModel)]="customer.CusAdd">
              </div>

            </div>
            <div class="payment-method">
              <ion-text style="font-size: 32px" color="dark">
                <ion-icon name="cash-outline" class=" mr-2"></ion-icon>
                <span>
                  Phương thức thanh toán
                </span>
              </ion-text>
              <br>

              <div class="form-check ml-2">
                <input [(ngModel)]="deliveryTime" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="in">
                <label class="form-check-label" for="exampleRadios1" style="font-size:16px;margin-bottom: 2px;margin-left: 5px;color: black;">
                  Giao trong giờ hành chính
                </label>
              </div>
              <div class="form-check mt-2 ml-2">
                <input [(ngModel)]="deliveryTime" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="out">
                <label class="form-check-label" for="exampleRadios2" style="font-size:16px;margin-bottom: 2px;margin-left: 5px;color: black;">
                  Giao ngoài giờ hành chính
                </label>
              </div>

            </div>
          </div>
          <div class="payment-method">
            <ion-text style="font-size: 32px" color="dark">
              <ion-icon name="cash-outline" class=" mr-2"></ion-icon>
              <span>
                Hình Thức Giao Hàng
              </span>
            </ion-text>
            <br>
            <br>
            <div class="form-check mt-2 ml-2">
              <input class="form-check-input" type="radio" name="method" id="method"  value="method" checked>
              <label class="form-check-label" for="method" style="font-size:16px;margin-bottom: 2px;margin-left: 5px; position: absolute;top:-2px;color: black;">
                <span class="delivery-title"><b>Giao hàng tiêu chuẩn</b></span>
                  <div class="delivery-desc">Miễn phí vận chuyển đối với đơn hàng từ 500.000<sup>đ</sup> giao tại nội
                    thành <b>Hà Nội, TP Hồ Chí Minh</b>.</div>
                  <div class="delivery-desc">Các địa chỉ khác: <b>30.000</b><sup>đ</sup></div>
              </label>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="payment-method">
            <ion-text style="font-size: 32px" color="dark">
              <ion-icon name="cash-outline" class=" mr-2"></ion-icon>
              <span>
                Phương thức thanh toán
              </span>
            </ion-text>
            <br>
            <div class="form-check ml-2">
              <input [(ngModel)]="paymentMethods" class="form-check-input" type="radio" name="cod" id="cod" value="cod" >
              <label class="form-check-label" for="cod" style="font-size:16px;margin-bottom: 2px;margin-left: 5px;color: black;">
                Thanh toán khi nhận hàng
              </label>
            </div>
            <div class="form-check mt-2 ml-2">
              <input [(ngModel)]="paymentMethods" class="form-check-input" type="radio" name="bank" id="bank" value="bank">
              <label class="form-check-label" for="bank" style="font-size:16px;margin-bottom: 2px;margin-left: 5px;color: black;">
                Thanh toán bằng chuyển khoản
              </label>
            </div>
          </div>
          <div class="payment-method">
            <ion-text style="font-size: 32px" color="dark">
              <ion-icon name="cash-outline" class=" mr-2"></ion-icon>
              <span>
                Mã giảm giá
              </span>
            </ion-text>
            <br>
            <div style="display: flex;">
              <ion-input style="width:70%" style="border: 2px solid #000000;border-radius: 5px;font-weight:500"
                placeholder="Mã giảm giá">
              </ion-input>
              <ion-button style="width:30%;height: 54px;" color="dark">Áp dụng</ion-button>
            </div>


          </div>

          <div class="v-infomation-content">
            <div class="customer-payment">
              <div> Tạm tính: </div>
              <div> {{tempPrice}} <sup>đ</sup></div>
            </div>
            <div class="customer-payment">
              <div> Chiết khấu: </div>
              <div> 0 <sup>đ</sup></div>
            </div>
            <div class="customer-payment">
              <div> Vận chuyển: </div>
              <div><span class="price">30.000 <sup>đ</sup></span></div>
            </div>
            <div class="customer-payment">
              <div> Điểm tích lũy: </div>
              <div> 106.300 </div>
            </div>
            <div class="customer-payment v-total-payment">
              <div> Tiền phải trả: </div>
              <div> 10.630.000 <sup>đ</sup></div>
            </div>
          </div>


          <div style="display: flex;margin-left:15px">
            <!-- <ion-button color="dark"><ion-icon name="funnel-outline"></ion-icon>Khôi phục</ion-button> -->
            <ion-button (click)="continueShopping()" style="width:50%" fill="outline" color="dark" style="margin-right:5px;">Tiếp tục mua
              sắm</ion-button>
            <ion-button (click)="orderCart()" style="width:50%" color="dark">Đặt hàng</ion-button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div style="margin-top:200px;width: 1530px;margin-bottom:200px;" *ngIf="!products || products.length < 1">
  <div style="margin: auto;width:80%;padding: 10px;">

    <div class="d-flex  row">
      <div class="col-md-6 text-right">
        <img src="https://asset.vuahanghieu.com/assets/images/empty.png" alt="shoes" class="img-shoe">
      </div>
      <div class="col-md-4">
        <div style="margin: 0;
          position: absolute;
          top: 50%;
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);">
          <ion-text>
            <h1>
              Giỏ hàng của bạn đang rỗng!
            </h1>
          </ion-text>
          <ion-text style="font-size:16px;">
            <span>
              Thật tiếc! Chúng tôi biết bạn đang muốn mua món đồ gì đó.
              Nhưng trước tiên bạn cần thêm món đồ đó vào giỏ hàng của mình.</span>
            <br>
            <span>Nhấn <a href="/view/collection">vào đây</a> để tiếp tục mua sắm.
            </span>
          </ion-text>
        </div>
      </div>
    </div>
  </div>
</div>
