<div style="margin-top:200px;width: 1530px;margin-bottom:200px;margin-right: auto;margin-left: auto">
  <div style="margin: auto;
  width:40%;
  padding: 10px;">
        <ion-text style="font-size: 32px" color="dark">
          <ion-icon name="alert-circle-outline" class=" mr-2"></ion-icon>
          <span>
            Đăng ký
          </span>
        </ion-text>
        <div class="row mb-3">
          <div class="col-12 d-flex justify-content-between mb-3">
            <input class="input-info" style="width: 100%;" type="text" placeholder="Số điện thoại" [(ngModel)]="resgisterUser.CusName">
          </div>
          <div class="col-12 d-flex justify-content-between mb-3">
            <input class="input-info" style="width: 100%;" type="text" placeholder="Mật khẩu" [(ngModel)]="resgisterUser.CusName">
          </div>
          <div class="col-12 d-flex justify-content-between mb-3">
            <input class="input-info" style="width: 100%;" type="text" placeholder="Họ và tên" [(ngModel)]="resgisterUser.CusName">
          </div>
          <!-- <div class="col-12 d-flex justify-content-between mb-3">
            <input class="input-info" style="width: 100%;" type="text" placeholder="Chứng minh thư" [(ngModel)]="resgisterUser.CusName">
          </div> -->
          <div class="col-12 d-flex justify-content-between mb-3">
            <input class="input-info" style="width: 100%;" type="text" placeholder="Email" [(ngModel)]="resgisterUser.CusName">
          </div>
          <div class="col-12 d-flex justify-content-between mb-3">
            <input class="input-info" style="width: 100%;" type="text" placeholder="Ngày sinh" [(ngModel)]="resgisterUser.CusName">
          </div>
          <!-- <div class="col-12 d-flex justify-content-between mb-3">
            <input class="input-info" style="width: 48%;margin-right:10px" type="text" placeholder="Email" [(ngModel)]="resgisterUser.CusEmail">
            <input class="input-info" style="width: 48%;" type="text" placeholder="Số điện thoại" [(ngModel)]="resgisterUser.CusTel">
          </div> -->
          <!-- <div class="col-12 d-flex d-flex justify-content-between mb-3">
            <input style="width:30%" type="text" placeholder="Tỉnh/Thành phố" class=" input-info" >
            <input style="width:30%" type="text" placeholder="Quận/Huyện" class=" input-info">
            <input style="width:30%" type="text" placeholder="Phường/Xã" class=" input-info">
          </div> -->
          <div class="col-12 mb-3">
            <input class=" input-info" style="width: 100%;" type="text" placeholder="Địa chỉ" [(ngModel)]="resgisterUser.CusAdd">
          </div>
          <div class="col-12 mb-3 text-right ">
            <button style="width:100%" type="button" class="btn btn-dark" (click)="register()">Đăng ký</button>
            <!-- <ion-item >
              <ion-button  (click)="register()" shape="round" style="width:48%;height:58px;" color="dark">
                <ion-icon name="bag-outline" style="margin-right: 5px;"
                ></ion-icon><ion-text >{{'Add To Cart'}}</ion-text></ion-button>
            </ion-item>
            <ion-item >
              <ion-button  (click)="register()" shape="round" fill="outline" style="width:48%;height:58px;" color="dark">
                <ion-icon color="dark" name="bag-outline" style="margin-right: 5px;"></ion-icon>
                <ion-text color="dark">{{'Shop Now'}}</ion-text></ion-button>
            </ion-item> -->
          </div>
        </div>



  </div>
</div>
