.img-shoe{
  max-height: 500px;
  height:500px;
  width:500px;
  //
  border-radius: 5px;
    //box-shadow: 3px 2px 1px 1px #a6a0a0;
}

.col-6 .md.list-md.list-lines-none.list-md-lines-none.hydrated{
  max-height: 500px;
  height:500px;
  width:100%;
}
